        </section>

        <footer>
            <nav>
                <div>
                    <title>NAVIGATION</title>
                    <ul>
                        <li>
                            <a href='/'>Home</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <year>Copyright © 2024 <%= config.general.project_name %></year>
        </footer>
    </body>
</html>